*{
    direction: rtl;
}

.table{
    width: 500px;
}

tr.example-detail-row {
    height: 0;
}
  
.example-element-row td {
    border-bottom-width: 0;
}
  
.example-element-detail {
    overflow: hidden;
    display: flex;
}
  
.example-element-diagram {
    height: 555px;
    min-height: fit-content;
}

.body{
    margin: 50px;
}
  
mat-progress-bar{
    height: 10px;
}

.col-space{
    padding-right: 1000px;
}

.cards {
    margin-top: 20px; 
    mat-card + mat-card {
      margin-top: 20px;
    }
  }

.container{
  direction: rtl;
  // margin: 25px;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
}

.body{
  margin: 20px;
  direction: rtl;
}

.titles{
  color: rgb(255, 253, 251);
  background-color: rgb(37, 37, 37);
  padding: 15px;
}

.main-checkbox{
  position: absolute;
  left: 30px;
}

.task-details{
  font-size: small;
  color: gray;
}

.tasks-list mat-list-option {
  height: auto !important;
  padding: 5px;
}

.marker{
  background-color: yellow;
}

.bold-text{
  font-weight: bold;
}

.task-container{
  border-color: gray;
  border-width: 5px;
  border-radius: 5px;
}

.complete-task{
  text-decoration: line-through;
}

.quarter{
  max-width: 30%;
  margin-left: 15px;
}

.task-button{
  margin-left: 15px;
  margin-top: 20px;
}

a{
  color: var(--bs-link-color);
  text-decoration: underline;
  font-size: 12px;
  margin: 10px;
  margin-top:20px;
}
a:hover{
  text-decoration: none;
  opacity: 50%;
  cursor: pointer;
}

li {
  list-style-type: none;
}

#right-col{
  width: 200px;
  max-width: 30%;
}

mat-divider{
  height: 1000px;
  min-height: 90%;
  width: 3px !important;
  position: inherit !important;
}

.tasks-container{
  min-width: 750px;
}