<mat-card>
  <mat-card-title *ngIf="person"
    >משימות עבור: {{ person.lastName + " " + person.firstName }}</mat-card-title
  >
  <mat-card-title *ngIf="!person">משימות עבורך: </mat-card-title>
  <div id="BarButton" *ngIf="allowSensitiveActions">
    <button
      mat-fab
      color="orange"
      matTooltip="ערוך"
      (click)="openTaskDialog(false)"
      class="BarButton1"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-fab
      color="primary"
      matTooltip="צור משימה חדשה"
      (click)="openTaskDialog(true)"
      class="BarButton1"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card-subtitle
    >סמן משימות שהושלמו:<mat-checkbox
      matTooltip="סמן הכול"
      [matTooltipPosition]="'above'"
      *ngIf="!allChecked"
      class="main-checkbox"
      (change)="tasksList.selectAll(); allChecked = true"
    ></mat-checkbox>
    <mat-checkbox
      matTooltip="סמן הכול"
      [matTooltipPosition]="'above'"
      *ngIf="allChecked"
      [color]="'primary'"
      [(indeterminate)]="allChecked"
      class="main-checkbox"
      (change)="tasksList.deselectAll(); allChecked = false"
    ></mat-checkbox>
  </mat-card-subtitle>

  <mat-card-content>
    <mat-selection-list class="tasks-list" #tasksList>
      <mat-list-option
        class="fit-content"
        *ngFor="let task of tasks"
        (selectedChange)="onsSlectedChange(task)"
      >
        <div class="task-container">
          <div class="task-title">
            <h5 *ngIf="task.actionState == 'done'" class="complete-task">
              {{ task.actionPatternName + getBagName(task) }}
              <small class="task-details marker" *ngIf="task.deadLine">
                {{ " (עד: " + (task.deadLine | date : "shortDate") + ")" }}
              </small>
            </h5>
            <h5 *ngIf="task.actionState == 'waiting'">
              {{ task.actionPatternName + getBagName(task) }}
              <small class="task-details marker" *ngIf="task.deadLine">
                {{ " (עד: " + (task.deadLine | date : "shortDate") + ")" }}
              </small>
            </h5>
          </div>
          <div class="task-content">
            <p class="task-details" *ngIf="task.discription">
              {{ task.discription }}
            </p>
            <small class="task-details">
              {{ "נוצר בתאריך: " + (task.createdDate | date : "shortDate") }}
            </small>
          </div>
          <div class="task-more">
            <small
              class="task-details"
              *ngIf="task.linkName && task.siteAddress"
            >
              <br />
              <a href="{{ task.siteAddress }}">{{ task.linkName }}</a>
            </small>

            <small class="task-details" *ngIf="task.comments">
              <br />
              <i>{{ "הערות: " + task.comments }}</i>
            </small>
            <li class="nav-item" *ngIf="getUserType() == 'lawyer' && task.bag">
              <a
                class="nav-link"
                routerLink="../../bags-lawyer/bag-info/{{ task.bag.id }}"
              >
                <i class="fa fa-solid fa-folder-open"></i>
                עבור לצפייה בתיק
              </a>
            </li>
            <li
              class="nav-item"
              *ngIf="getUserType() == 'customer' && task.bag"
            >
              <a
                class="nav-link"
                routerLink="../../bags/bag-info/{{ task.bag.id }}"
              >
                <i class="fa fa-solid fa-folder-open"></i>
                עבור לצפייה בתיק
              </a>
            </li>
          </div>
          <hr />
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="setAsCompleted(); tasksList.deselectAll()">
      בוצע
    </button>
    <button mat-button (click)="setAsNotCompleted(); tasksList.deselectAll()">
      ביטול
    </button>
    <button
      *ngIf="allowSensitiveActions"
      mat-button
      (click)="deleteTasksList(); tasksList.deselectAll()"
    >
      מחק
    </button>
  </mat-card-actions>
</mat-card>
