<div class="body">
    <h1 class="mrgin-left">לקוחות:</h1>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="standard" class="mrgin-left">
                <mat-label>סנן טבלה</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="חיפוש"
                  dir="rtl"
                  #input
                />
              </mat-form-field>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <mat-header-cell mat-header-cell *matHeaderCellDef> שם המשתמש </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element" > <a (click)="openPersonInfoDialog(element)">{{
                    element.firstName +" "+element.lastName
                    }}</a><br />   </mat-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="user"></mat-header-row>
                <mat-row matRipple *matRowDef="let row; columns: user;"></mat-row>
              </mat-table>
              <a  routerLink= "/lawyer-account/lawyerlist">   <button mat-raised-button color="primary">לצפייה בעורכי הדין</button></a> 

        </div>
    </div>
</div>