<div id="bigImg" class="container"></div>
<div id="bitTitle" dir="auto">
  <h1 style="font-weight: bold">ברוך הבא!</h1>
  <h3 id="firstSubTitle">משרד עו"ד הבלין- ולר</h3>
  <h5 id="secondSubTitle">אתר האינטרנט לשירות מקוון אונליין</h5>
</div>
<hr />
<div class="buttons-menu">
  <a mat-raised-button id="tasks-button" routerLink="main/tasks"
    >לניהול משימות</a
  >
  <a
    mat-raised-button
    color="primary"
    id="bags-button"
    *ngIf="getUserType() == 'customer'"
    routerLink="bags/view-bags"
  >
    לצפייה ברשימת התיקים
  </a>
  <a
    mat-raised-button
    color="primary"
    id="bags-button"
    *ngIf="getUserType() == 'lawyer'"
    routerLink="bags-lawyer/view-bags"
  >
    לצפייה ברשימת התיקים
  </a>
</div>
<!-- <div class="home" dir="rtl">
  <div class="row">
    <div class="col Welcome">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">ברוך הבא!</h5>
          <h6 class="card-subtitle mb-2 text-muted">הצג את הפרופיל שלך</h6>
          <p class="card-text">
            אתה מוזמן לצפות בתיקים שלך, רשימת המשימות, סטטיסטיקות ועוד הרבה
            יותר!
          </p>
          <a href="#" class="card-link">עדכונים אחרונים</a>&nbsp;&nbsp;
          <a href="#" class="card-link">הסטוריה</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-info mb-3" style="max-width: 18rem">
        <div class="card-header">תכונות חדשות</div>
        <div class="card-body">
          <h5 class="card-title">ראה עדכונים</h5>
          <p class="card-text">
            כאן תראה את התכונות העדכניות ביותר שלנו, וכמה דוגמאות מהירות והוראות
            לנוחיותך!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row card">
    <div class="card-header">מידע</div>
    <div class="card-body">
      <h5 class="card-title">פתח את התיקים ושתף את המידע שלך באינטרנט</h5>
      <p class="card-text">
        שיתוף המידע המשפטי שלך מאפשר לך לראות את כל התיקים המשפטיים שלך
        באפליקציה אחת לנייד או באינטרנט, לנתח את ההוצאות שלך ואפילו מאפשר לך
        לבצע תשלומים ישירות מחשבון הבנק שלך. במדריך זה, אנו בוחנים מדוע תשתף את
        המידע שלך, מה הם היתרונות וכיצד לעשות זאת בבטחה.
      </p>
      <a href="#" class="btn btn-primary">ראה עוד</a>
    </div>
  </div>
</div> -->
