<div class="container" dir="rtl">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content>
    <p>{{ data.question }}</p>
    <mat-form-field appearance="fill" *ngIf="data.needInput">
      <mat-label>הקלד כאן</mat-label>
      <input matInput [(ngModel)]="data.result" />
    </mat-form-field>
    <mat-selection-list [multiple]="false" *ngIf="data.permission">
      <mat-list-option
        (click)="
          currentPermissionID = permission.id;
          data.result = currentPermissionID.toString()
        "
        *ngFor="let permission of permissions"
        [value]="permission.name"
        [selected]="permission.id == currentPermissionID"
      >
        {{ permission.name }}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">סגור</button>
    <button
      mat-button
      [mat-dialog-close]="data.result"
      cdkFocusInitial
      *ngIf="
        (data.permission != undefined && isPermitted()) ||
        data.permission == undefined
      "
    >
      אישור
    </button>
  </div>
</div>
