element.style {
    padding-left: 0px;
}
.documentation footer {
    padding-left: 0;
}
@media (max-width: 1440px){
  .fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
      padding-left: 0;
  }
}
  .fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
    padding-left: 15rem;
}
footer.page-footer {
    bottom: 0;
    color: #fff;
}
.font-small {
    font-size: .9rem;
}
.mdb-color {
    //background-color: #45526e !important;
    background-color: #fcbf09 !important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}
footer {
    padding-left: 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}
// user agent stylesheet
footer {
    display: block;
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: var(--bs-body-color);
    &:hover{
        font-weight: bold;
    }
}
